/* ============================================================Cooking */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-weight: 25px;
    font-style: normal;
    line-height: 2;
    font-size: 40px;
    background-image: url(./cooking.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 5px 1px 10px black;
    text-align: center;
    color: rgb(103, 206, 240);
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  /* =======================================================Space Adventure */

  .modalS {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  /* Modal Content */
  .modal-contentS {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100px;
    font-style: normal;
    line-height: 2;
    font-size: 40px;
    text-shadow: -5px 1px 10px white;
    background-image: url(./galaxy.jpg);
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* The Close Button */
  .closeS {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .closeS:hover,
  .closeS:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  /* ===========================================================Haunted Story */

  .modalH {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  /* Modal Content */
  .modal-contentH {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    font-family: "Nosifer", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 2;
    font-size: 32px;
    word-spacing: 5px;
    color: #ba3c3c;
    text-shadow: 5px 1px 10px white;
    background-image: url(./SpookySky.jpg);
    background-position: 0px 5px 0px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
  }
  
  /* The Close Button */
  .closeH {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .closeH:hover,
  .closeH:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  